{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "mocha"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:mocha/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb-base",
        "plugin:import/typescript"
    ],
    "rules": {
        "indent": ["error", 4],
        "import/prefer-default-export": ["off"],
        "import/extensions": ["error", "never"],
        "mocha/no-mocha-arrows": ["off"]
    }
}
