{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "mocha",
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:mocha/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "airbnb-base",
        "plugin:import/typescript"
    ],
    "rules": {
        "indent": ["error", 4],
        "import/prefer-default-export": ["off"],
        "import/extensions": ["error", "never"],
        "mocha/no-mocha-arrows": ["off"],
        "class-methods-use-this": "off",
        "no-underscore-dangle": "off",
        "lines-between-class-members": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "only-multiline",
            "exports": "only-multiline",
            "functions": "only-multiline"
        }],
        "max-classes-per-file": "off",
        "no-use-before-define": "off",
        "arrow-body-style": "off",
        "arrow-parens": "off",
        "max-len": ["warn", 120],
        "no-plusplus": "off",
        "one-var": "off",
        "one-var-declaration-per-line": "off",
        "prefer-destructuring": "off",
        "no-unused-vars": "off",
        "object-curly-newline": "off",
        "no-restricted-syntax": "off",
        "prefer-template": "off",
        "quote-props": "off",
        "dot-notation": "off"
    }
}
